<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ktds.giga.mapper.SRMapper">
    <select id="srList" resultType="com.ktds.giga.domain.SRListVO">
            SELECT 
            	* 
            FROM 
            	redmine.service_request
            ORDER BY
            	reg_date ASC;
    </select>
    
    <insert id="srInsert" parameterType="com.ktds.giga.domain.SRListVO">
            INSERT INTO 
            redmine.service_request (system_name, mr_version, status, sr_id, subject,reg_date,description,spec)
 			VALUES(#{system_name},#{mr_version},#{status},#{sr_id},#{subject},now(),#{description},#{spec})
    </insert>
    
</mapper>